src/wsdl/localhost_8281/EmissionService.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by XML-WS Runtime (https://github.com/eclipse-ee4j/metro-jax-ws). Runtime's version is XML-WS Runtime 4.0.1 git-revision#298606e. --><!-- Generated by XML-WS Runtime (https://github.com/eclipse-ee4j/metro-jax-ws). Runtime's version is XML-WS Runtime 4.0.1 git-revision#298606e. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://ws/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://ws/" name="EmissionService">
<types>
<xsd:schema>
<xsd:import namespace="http://ws/" schemaLocation="http://localhost:8281/EmissionService?xsd=1"/>
</xsd:schema>
</types>
<message name="getEmissionsByRegion">
<part name="parameters" element="tns:getEmissionsByRegion"/>
</message>
<message name="getEmissionsByRegionResponse">
<part name="parameters" element="tns:getEmissionsByRegionResponse"/>
</message>
<message name="getEmissionsBySector">
<part name="parameters" element="tns:getEmissionsBySector"/>
</message>
<message name="getEmissionsBySectorResponse">
<part name="parameters" element="tns:getEmissionsBySectorResponse"/>
</message>
<message name="getAllEmissions">
<part name="parameters" element="tns:getAllEmissions"/>
</message>
<message name="getAllEmissionsResponse">
<part name="parameters" element="tns:getAllEmissionsResponse"/>
</message>
<portType name="EmissionService">
<operation name="getEmissionsByRegion">
<input wsam:Action="http://ws/EmissionService/getEmissionsByRegionRequest" message="tns:getEmissionsByRegion"/>
<output wsam:Action="http://ws/EmissionService/getEmissionsByRegionResponse" message="tns:getEmissionsByRegionResponse"/>
</operation>
<operation name="getEmissionsBySector">
<input wsam:Action="http://ws/EmissionService/getEmissionsBySectorRequest" message="tns:getEmissionsBySector"/>
<output wsam:Action="http://ws/EmissionService/getEmissionsBySectorResponse" message="tns:getEmissionsBySectorResponse"/>
</operation>
<operation name="getAllEmissions">
<input wsam:Action="http://ws/EmissionService/getAllEmissionsRequest" message="tns:getAllEmissions"/>
<output wsam:Action="http://ws/EmissionService/getAllEmissionsResponse" message="tns:getAllEmissionsResponse"/>
</operation>
</portType>
<binding name="EmissionServicePortBinding" type="tns:EmissionService">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="getEmissionsByRegion">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getEmissionsBySector">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getAllEmissions">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="EmissionService">
<port name="EmissionServicePort" binding="tns:EmissionServicePortBinding">
<soap:address location="http://localhost:8281/EmissionService"/>
</port>
</service>
</definitions>